build/
*.ipr
run/
*.iws
out/
*.iml
.gradle/
output/
bin/
libs/

fabric/run
common/src/main/resources/assets/minecraft
common/src/main/resources/assets/realms

.classpath
.project
.idea/
classes/
.metadata
.vscode
.settings
*.launch